    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        color: #333;
			  margin-left: 0;
	  margin-right: 0;
	  margin-top: 0;
	  margin-bottom: 0;
    }
	
	.body-content
	{
				margin-left: 15%;
		margin-right: 15%;
	}
	
		ul {
		color: #75A389;
		font-size: 9pt;
	}
	
	li { list-style-image: url(list.png); } 
	
	.title-block
	{
		display: flex;
	}
	
	.title-block h1
	{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.title
	{
	}
	
	.title-search
	{
		margin-left: auto; 
		margin-right: 0;
		display: inline-block;
		align-self: flex-end;
	}
	
	.title-search input
	{
		background-color: #f0f0f0;
		border-color: #b0b0b0;
		border-width: 1px;
		border-style: solid;
	}
	
	.navbar {
        display: flex;
        justify-content: center;
        gap: 0;
        margin: 20px 20px 0 20px;
        #border: 1px solid; /* thin border around the navbar */
    }
    .navbar a {
        flex-grow: 1;
        text-align: center;
        text-decoration: none;
        padding: 0.5rem;
        background: linear-gradient(0deg, #e1e1e1 0%, #ffffff 100%); /* darker button color */
        border: 1px solid;
		border-color:#c0c0c0 #c0c0c0 white #c0c0c0 ; 
				  text-shadow: 1px 1px 0px #f0f0f0, 2px 2px 0px #d6d9dc; /* Adjust shadow values as needed */
        color: #67ACC2; /* Light Blue Text Color */
        font-weight: bold;
        transition: background 0.3s ease, color 0.3s ease; /* added transition for color */
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* recessed effect */
    }
    .navbar a:hover {
        background: linear-gradient(0deg, #b8b8b8 0%, #898989 100%);
        color: #333; /* dark gray text on hover */
    }
    .navbar a:first-child {
        border-left: none; /* removing left border for the first element */
    }
	
	.navbar-shadow
    {
      position: relative;
    }
    .navbar-shadow:before, .navbar-shadow:after
    {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 5px;
    left: 1px;
    width: 50%;
    top: 80%;
    box-shadow: 0px 10px 10px #707070;
    transform: rotate(-2deg);
    }
    .navbar-shadow:after
    {
      transform: rotate(2deg);
      right: 1px;
      left: auto;
    }
	
	a.navbar-selected
	{
		color: black;
	}


	.learnmore {
		    display: block;
    width: fit-content;
	    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
        flex-grow: 1;
        text-align: center;
        text-decoration: none;
        background: linear-gradient(0deg, #B5B8B8 0%, #DFE4E3 100%);
        border: 1px solid;
		border-color:white; 
    border-radius: 7px;
    color: #67ACC2;
    font-size: 1em;
    text-shadow: 1px 1px 0px #f0f0f0, 1px 1px 0px #d6d9dc;
        font-weight: bold;
        transition: background 0.3s ease, color 0.3s ease;
            box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.3);
    }
	
	    .learnmore:hover {
        background: linear-gradient(0deg, #b8b8b8 0%, #898989 100%);
        color: #333; /* dark gray text on hover */
    }


    .content {
        display: flex;
        padding: 1rem;
    }
    .content .blog-posts {
        flex: 3;
        padding: 1rem;
        margin-right: 1rem;
    }
    .content .popular-posts {
        flex: 1;
        padding: 1rem;
    }
	.content .popular-posts img {
        width: 100%;
    }
    .blog-post, .popular-post {
        margin-bottom: 1rem;
    }
    .blog-post h2, .popular-post h2 {
        margin: 0 0 0.5rem 0;
    }
	
	
	.contentx {
        display: flex;
        padding: 1rem;
    }
    .contentx .blog-postsx {
        flex: 3;
        padding: 1rem;
        background-color: #fff;
        margin-right: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
    .contentx .popular-postsx {
        flex: 1;
        padding: 1rem;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
    }
    .blog-postx, .popular-postx {
        margin-bottom: 1rem;
    }
    .blog-postx h2, .popular-postx h2 {
        margin: 0 0 0.5rem 0;
    }
	
	  .blog-post a:link {
  color: #75A389;
}

.blog-post a:visited {
  color: #75A389;
}

.blog-post a:hover {
  color: #75A389;
}

.blog-post a:active {
  color: #75A389;
}
  
	
	  .card-container {
    display: flex;
    gap: 1rem; /* Adjust the gap between the cards */
  }
  
  
.card {
	    display: flex;
    flex-flow: column;
  background: linear-gradient(0deg, #4D9E8D 0%, #64BBAC 100%);  
  color: white; /* Set the text color to white */
  padding: 1rem; /* Add some padding inside the cards */
  border-radius: 8px; /* Optional: add rounded corners to the cards */
  width: 30%; /* Adjust the width of the cards */
  box-sizing: border-box;
}
  
  .card-shadow
    {
      position: relative;
    }
    .card-shadow:before, .card-shadow:after
    {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 13px;
    left: 8px;
    width: 50%;
    top: 80%;
    box-shadow: 0 12px 10px #707070;
    transform: rotate(-10deg);
    }
    .card-shadow:after
    {
      transform: rotate(10deg);
      right: 8px;
      left: auto;
    }
  
  
  .card-title {
    font-size: 1.5rem; /* Adjust the font size of the card titles */
    margin-bottom: 0.5rem; /* Add some margin below the card titles */
  }
  
  .card-text {
    font-size: 1rem; /* Adjust the font size of the card texts */
	height: auto;
	margin:auto;
	margin-bottom: 4px;
  }
  
  .card-button {
        flex-grow: 1;
        text-align: center;
        text-decoration: none;
        padding: 0.7rem;
        background: linear-gradient(0deg, #2C6E63 0%, #6FB9AC 100%);
        border: 2px solid;
		border-color:#378f80; 
		border-radius: 10px;
        color: black; 
		
		  font-size: 1em; /* Adjust size as needed */
		  text-shadow: 1px 1px 0px #808080, 2px 2px 0px #6FB9AC;
        font-weight: bold;
        transition: background 0.3s ease, color 0.3s ease;
        box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.3); /* thin shadow at the bottom */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .card-button:hover {
    background-color: #003313; /* Darken the background color on hover */
	        background: linear-gradient(0deg, #003313 0%, #898989 100%);
        color: #333; /* dark gray text on hover */
  }
  
    .card-button-wrapper {
		margin-top: 10px;
  text-align:right;
  }
  
  .bottom-container {
	  margin-top: 30px;
	  display: flex;
  }
  
  .bottom-container p 
  {
	  font-size: 9pt;
  }
  
    .bottom-container h3
  {
	  font-size: 9pt;
	  color: #75A389;
  }
  
  .bottom-left {
	  width:30%;
  }
  
  .bottom-left-container {
  }
  
  .bottom-left-container-block {
	  display: flex;
	      border-bottom: solid;
    border-width: 2px;
    border-color: white;
    box-shadow: 0 2px 1px -1px #e0e0e0;
	    margin-bottom: 2px;
  }
  
    .bottom-left-container-block img {
		width:40%;
		margin: auto;
		margin-right: 10px;
  }
  
  .bottom-left-container-block-right
  {
	  
  }
  
    .bottom-left-container-block-right h3
  {
	  		margin-top: 0px;
		margin-bottom: 0px;
  }
  
  .bottom-left-container-block-date {
	  background-color: #D6D6D6;
	  padding-left: 4px;
	  padding-right: 4px;
	  padding-top: 1px;
	  padding-bottom: 4px;
	  width:fit-content;
      height:fit-content;
	  font-size: 9pt;
	  border-radius: 0 0 5px 5px;
	  margin-bottom: 10px;
  }
  
  .bottom-left-container-block-button
  {
	  margin-top: 20px;
  }
  
  
  
  .bottom-center {
	  width:40%;
	  padding: 5px;
  }
  
    .bottom-center i {
	  color: #75A389;
  }
  
  .bottom-center a:link {
  color: #75A389;
}

.bottom-center a:visited {
  color: #75A389;
}

.bottom-center a:hover {
  color: #75A389;
}

.bottom-center a:active {
  color: #75A389;
}
  
  .bottom-right {
	  width: 30%;
	  padding: 5px;
  }
  
    .bottom-right img {
	  width: 100%;
  }
  
  .button-more
  {
	          flex-grow: 1;
        text-align: center;
        text-decoration: none;
        padding: 0.7rem;
        background-color: #d0d0d0;
        border: 1px solid;
		border-color:white; 
		outline: 1px solid #808080;
		border-radius: 10px;
        color: black; 
		
		  font-size: 1em; 
		  text-shadow: 1px 1px 0px #f0f0f0, 2px 2px 0px #d6d9dc; 
        font-weight: bold;
        transition: background 0.3s ease, color 0.3s ease;
		    margin-top: 20px;
    display: block;
	width: fit-content;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
	margin-left: auto;
  }
  
    .button-more:hover
  {
	  background-color: #a0a0a0;
  }
  .image-border 
  {
	  padding: 2px;
    border: 1px solid white;
    margin: 0px;
    padding-bottom: 0px;
}
  
    .view-all
  {
	          flex-grow: 1;
        text-align: center;
        text-decoration: none;
        padding: 0.7rem;
        background-color: #d0d0d0;
        border: 1px solid;
		border-color:white; 
		outline: 1px solid #808080;
		border-radius: 10px;
        color: black; 
		
		  font-size: 1em; 
		  text-shadow: 1px 1px 0px #f0f0f0, 2px 2px 0px #d6d9dc; 
        font-weight: bold;
        transition: background 0.3s ease, color 0.3s ease;
		    margin-top: 20px;
    display: block;
	width: fit-content;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
	margin-left: auto;
  }
  
      .view-all:hover
  {
	  background-color: #a0a0a0;
  }
  
  .footer 
  {
	  margin-left: 0;
	  margin-right: 0;
	  margin-top: 20px;
	  margin-bottom: 0;
	  
	  text-align: center;
	  background-color: #A3A3A3;
	  
	  padding: 20px;
  }
  
  .footer a:link {
  color: black;
}

.footer a:visited {
  color: black;
}

.footer a:hover {
  color: black;
}

.footer a:active {
  color: black;
}
  
 
 
.our-news
{
	        flex: 1;
        padding: 1rem;
}

.who-we-are
{
	        flex: 2;
        padding: 1rem;
        margin-right: 1rem;
}
.who-we-are-content 
{
	display: flex;
}
.who-we-are-img
{
	    width:100%;
}
.who-we-are-img img
{
	    width:100%;
}

.who-we-are-list
{
	width: 50%;
}

.green-text 
{
	color: #75A389;
}
.blog-post-img 
{
	text-align: center;
}
.blog-post-img img
{
	width:90%;
	height:200px;
	object-fit: cover;
    border: 12px solid;
    border-color: white;
	outline: 1px solid #808080;
}

.hr-fat
{
	    height: 2px;
    background-color: #c0c0c0;
}
.hr-thin 
{
	border-top: 1px solid #c0c0c0;
	margin-bottom: 20px;
	margin-top: 20px;
}


.about-block{
		        flex: 1;
        padding: 1rem;
        margin-right: 1rem;
}

.about-form-block{
		        flex: 1;
        padding: 1rem;
        margin-right: 1rem;
}

.where-we-are-img
{
}

.where-we-are-img img {
	    width: 80%;
    border: 12px solid;
    border-color: white;
    outline: 1px solid #808080;
}

  .about-form-container {
	  width: 80%;
  }

  .about-form-container p {
	  margin-bottom: 2px;
  }
  
  
  .about-form-container input {
	  width: 100%;
  }
  
    .about-form-container textarea {
	  width: 100%;
  }
  
  .about-form-button-container
  {
	  display: flex;
  }
  
  input.about-form-button1 {
	width:30%;
	margin-right: auto;
  }
  
  
    input.about-form-button2 {
	width:30%;
	margin-left: auto;
  }


.gallery-container{
	
	width: 90%;
	margin-left:auto;
	margin-right: auto;
	margin-top: 20px;
}

.gallery-image-row {
	display: flex;
}

.gallery-image-block {
	    margin: 10px;
		position: relative;
		width: 30%;
}

.gallery-image-block-text {
		position: absolute;
		
    margin-bottom: 20px;
    bottom: 5px;
    background-color: black;
    color: white;
    padding: 10px;
}


.gallery-image-block img{
	width:100%;
	height:200px;
	object-fit: cover;
}